* {
  margin: 0px;
  padding: 0px;
}
.majorContainer {
  height: 50px;
  background-color: aqua;
}
.headerContainer {
  width: 800px;
  height: 50px;
  overflow: hidden;
}
.nameContainer {
  float: left;
  margin-top: 4px;
  margin-left: 10px;
}
.nameContainer p {
  font-size: 24px;
  font-weight: 500;
  margin: 0px;
  color: rgb(5, 5, 85);
}
.navMenu {
  float: right;
}
.navMenu ul li {
  display: inline-block;
  margin: 5px 5px;
  background-color: rgba(0, 0, 255, 0.192);
  padding: 5px 10px;
  border-radius: 8px;
}
.navMenu ul li:hover {
  background-color: rgba(0, 0, 255, 0.356);
  color: rgb(255, 255, 255);
  transition-duration: 0.4s;
  cursor: pointer;
}
.navMenu ul li:active {
  background-color: rgba(0, 0, 255, 0.575);
  color: rgb(255, 255, 255);
  transition-duration: 0.4s;
  cursor: pointer;
}
.lnk {
  color: white;
  text-decoration: none;
}
.lnk:hover {
  color: white;
  text-decoration: none;
}
.lnk:focus {
  color: white;
  text-decoration: none;
}
.lnk:visited {
  color: white;
  text-decoration: none;
}
@media screen and (max-width: 800px) {
  .headerContainer {
    width: 100%;
  }
}
@media screen and (max-width: 675px) {
  .majorContainer {
    height: 200px;
  }
  .headerContainer {
    height: 200px;
  }
  .nameContainer {
    display: block;
  }
  .navMenu {
    float: left;
  }
  .navMenu ul {
    padding: 0px 7px;
  }
}
